@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: url(../../public/anime-hero-50.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  font-family: "Bangers", cursive;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.text-shadow-light {
  text-shadow: rgb(255, 255, 255) 0.2rem 0.1rem 0.1rem;
}

.text-shadow-dark {
  text-shadow: rgb(0, 0, 0) 0.2rem 0.2rem 0.2rem;
}

.text-shadow-primary {
  text-shadow: #ff0000 0.2rem 0.1rem 0.1rem;
}
a {
  text-decoration: none;
  color: #ff0000;
}
